form {
  width: 300px;
  margin: auto;
  text-align: left;
  padding: 10px;
}

input,
button,
label {
  width: 100%;
  box-sizing: border-box;
  font-size: 20pt;
  margin-bottom: 15px;
}
h2 {
  font-size: 20pt;
}
