<div *ngIf="!user">
  <h2>Login</h2>
  <form (submit)="login()">
    <label for="usernameInput">Username: </label>
    <input
      type="text"
      id="usernameInput"
      name="username"
      [(ngModel)]="credentials.userName"
    />

    <label for="passwordInput">Password: </label>
    <input
      type="password"
      id="passwordInput"
      name="password"
      [(ngModel)]="credentials.password"
    />

    <button mat-raised-button color="primary" type="submit">LogIn</button>
  </form>

  <a routerLink="register">Register</a>
</div>

<div *ngIf="user">
  <h1>you are logged in</h1>
</div>
